{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "array-bracket-spacing": [ "error", "never" ],
    "array-callback-return": "error",
    "arrow-parens": "error",
    "arrow-spacing": "warn",
    "block-scoped-var": "error",
    "block-spacing": [ "warn", "never" ],
    "brace-style": "warn",
    "camelcase": "warn",
    "comma-spacing": [
      "error",
      {
        "before": false,
        "after": true
      }
    ],
    "comma-style": "error",
    "computed-property-spacing": [ "error", "never" ],
    "consistent-return": "error",
    "curly": "error",
    "dot-location": "warn",
    "dot-notation": "error",
    "eol-last": "warn",
    "eqeqeq": "error",
    "global-require": "error",
    "guard-for-in": "error",
    "handle-callback-err": "error",
    "import/extensions": "error",
    "import/first": "error",
    "import/imports-first": "error",
    "import/max-dependencies": "off",
    "import/newline-after-import": "error",
    "import/no-absolute-path": "error",
    "import/no-amd": "error",
    "import/no-commonjs": "error",
    "import/no-deprecated": "error",
    "import/no-dynamic-require": "error",
    "import/no-extraneous-dependencies": "off",
    "import/no-internal-modules": "off",
    "import/no-mutable-exports": "error",
    "import/no-named-default": "error",
    "import/no-namespace": "off",
    "import/no-nodejs-modules": "error",
    "import/no-restricted-paths": "error",
    "import/no-unassigned-import": "off",
    "import/no-unresolved": "off",
    "import/no-webpack-loader-syntax": "error",
    "import/order": "error",
    "import/prefer-default-export": "off",
    "import/unambiguous": "error",
    "indent": "error",
    "jsx-quotes": [ "warn", "prefer-double" ],
    "key-spacing": "error",
    "keyword-spacing": "error",
    "linebreak-style": [ "error", "windows" ],
    "max-depth": "warn",
    "max-nested-callbacks": [ "warn", 3 ],
    "new-cap": "warn",
    "new-parens": "error",
    "no-alert": "error",
    "no-array-constructor": "error",
    "no-bitwise": "error",
    "no-caller": "error",
    "no-cond-assign": "error",
    "no-confusing-arrow": "warn",
    "no-constant-condition": "warn",
    "no-const-assign": "error",
    "no-continue": "error",
    "no-delete-var": "error",
    "no-dupe-args": "error",
    "no-dupe-keys": "error",
    "no-duplicate-case": "error",
    "no-duplicate-imports": "error",
    "no-else-return": "error",
    "no-empty-function": "error",
    "no-eq-null": "error",
    "no-eval": "error",
    "no-extend-native": "error",
    "no-extra-bind": "error",
    "no-fallthrough": "error",
    "no-floating-decimal": "error",
    "no-implicit-coercion": "error",
    "no-implicit-globals": "error",
    "no-implied-eval": "error",
    "no-inline-comments": "warn",
    "no-irregular-whitespace": "warn",
    "no-iterator": "error",
    "no-labels": "error",
    "no-lone-blocks": "error",
    "no-lonely-if": "error",
    "no-loop-func": "error",
    "no-mixed-operators": "error",
    "no-mixed-requires": "error",
    "no-mixed-spaces-and-tabs": [ "warn", "smart-tabs" ],
    "no-multiple-empty-lines": [
      "error",
      { "max": 2 }
    ],
    "no-multi-spaces": "warn",
    "no-multi-str": "warn",
    "no-native-reassign": "error",
    "no-negated-condition": "error",
    "no-new": "error",
    "no-new-func": "error",
    "no-new-object": "error",
    "no-new-require": "error",
    "no-new-wrappers": "error",
    "no-octal": "error",
    "no-octal-escape": "error",
    "no-param-reassign": "error",
    "no-path-concat": "error",
    "no-plusplus": "error",
    "no-proto": "error",
    "no-redeclare": "error",
    "no-restricted-syntax": "error",
    "no-script-url": "error",
    "no-self-assign": "error",
    "no-self-compare": "error",
    "no-sequences": "error",
    "no-shadow": "error",
    "no-spaced-func": "warn",
    "no-throw-literal": "error",
    "no-trailing-spaces": "warn",
    "no-undef": "error",
    "no-undef-init": "error",
    "no-underscore-dangle": "error",
    "no-unexpected-multiline": "error",
    "no-unmodified-loop-condition": "error",
    "no-unneeded-ternary": "error",
    "no-unused-expressions": "error",
    "no-unused-labels": "error",
    "no-unused-vars": "error",
    "no-use-before-define": "error",
    "no-useless-call": "error",
    "no-useless-computed-key": "error",
    "no-useless-concat": "error",
    "no-useless-escape": "error",
    "no-useless-rename": "error",
    "no-void": "error",
    "no-warning-comments": "error",
    "no-whitespace-before-property": "error",
    "no-with": "error",
    "object-curly-newline": "warn",
    "object-curly-spacing": [ "warn", "never" ],
    "padded-blocks": [
      "warn",
      {
        "blocks": "never",
        "switches": "always",
        "classes": "always"
      }
    ],
    "prefer-const": "error",
    "quote-props": "off",
    "quotes": [ "warn", "double" ],
    "radix": "error",
    "react/forbid-component-props": "off",
    "react/forbid-prop-types": "off",
    "react/jsx-boolean-value": [ "error", "always" ],
    "react/jsx-closing-bracket-location": [ "warn", "tag-aligned" ],
    "react/jsx-curly-spacing": [ "warn", "never" ],
    "react/jsx-equals-spacing": "error",
    "react/jsx-filename-extension": "error",
    "react/jsx-first-prop-new-line": "error",
    "react/jsx-handler-names": "error",
    "react/jsx-indent": "warn",
    "react/jsx-indent-props": "warn",
    "react/jsx-key": "error",
    "react/jsx-max-props-per-line": "off",
    "react/jsx-no-bind": [
      "error",
      { "ignoreRefs": true }
    ],
    "react/jsx-no-comment-textnodes": "error",
    "react/jsx-no-duplicate-props": "error",
    "react/jsx-no-literals": "error",
    "react/jsx-no-target-blank": "error",
    "react/jsx-no-undef": "error",
    "react/jsx-pascal-case": "error",
    "react/jsx-sort-props": "off",
    "react/jsx-space-before-closing": "warn",
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react/jsx-wrap-multilines": "warn",
    "react/no-children-prop": "error",
    "react/no-comment-textnodes": "off",
    "react/no-danger": "error",
    "react/no-danger-with-children": "error",
    "react/no-deprecated": "warn",
    "react/no-did-mount-set-state": "error",
    "react/no-did-update-set-state": "error",
    "react/no-direct-mutation-state": "error",
    "react/no-find-dom-node": "error",
    "react/no-is-mounted": "error",
    "react/no-multi-comp": "off",
    "react/no-render-return-value": "error",
    "react/no-set-state": "off",
    "react/no-string-refs": "error",
    "react/no-unescaped-entities": "error",
    "react/no-unknown-property": "error",
    "react/no-unused-prop-types": "off",
    "react/prefer-es6-class": [ "error", "never" ],
    "react/prefer-stateless-function": "off",
    "react/prop-types": "warn",
    "react/react-in-jsx-scope": "error",
    "react/require-extension": "off",
    "react/require-optimization": "error",
    "react/require-render-return": "error",
    "react/self-closing-comp": [
      "error",
      {
        "component": true,
        "html": false
      }
    ],
    "react/sort-comp": "error",
    "react/sort-prop-types": "off",
    "react/style-prop-object": "error",
    "react/wrap-multilines": "off",
    "rest-spread-spacing": "warn",
    "semi": "error",
    "semi-spacing": "warn",
    "space-before-blocks": "warn",
    "space-before-function-paren": [
      "warn",
      {
        "anonymous": "always",
        "named": "never"
      }
    ],
    "spaced-comment": "warn",
    "space-infix-ops": "warn",
    "space-in-parens": "warn",
    "space-unary-ops": "warn",
    "strict": "off",
    "wrap-iife": "error",
    "yoda": "error"
  },
  "ecmaFeatures": {
    "jsx": true

  },
  "globals": {
    "$": false,
    "jQuery": false
  },
  "extends": [ "eslint:recommended", "plugin:react/recommended", "plugin:import/errors", "plugin:import/warnings" ]
}